body{
  margin: 0px;
}
.top{
  position: relative;
  height: 50px;
  border-bottom: 2px solid black;
}
.top .title{
  font-weight: bold;
  padding: 15px;
  font-size: 20px;
  text-align: center;
}
section.content{
  padding-top: 10px;
}
section .container{
  position: relative;
  padding: 0px 20px 20px 20px;
  border-bottom: 1px solid black;
}
section .container div div{
  padding: 5px 0px;
}
.hidden{
  display: none;
}
.button{
  width: 120px;
  background-color: lightgray;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
  padding: 10px 0px;
  border: 0px;
  border-bottom: 2px solid lightgray;
  font: inherit;
  font-size: 16px;
}
.button:hover{
  border-bottom: 2px solid darkgrey;
  margin-bottom: 0px
}
.white_button{
  background-color: white;
  border-bottom: 2px solid white;
}
.button_remove, .button_edit{
  font-size: 20px;
  margin-left: 20px;
  cursor: pointer;
  position: relative;
  float: right;
}
#user_form{
  padding: 20px;
  position: absolute;
  top: 43px;
  right: 30px;
  background-color: lightgray;
  z-index: 2;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
}
#user_form div{
  margin: 5px;
}
.label_size{
  width: 100px;
  display: inline-block;
}
#add_user{
  position: absolute;
  right: 30px;
  top: 5px;
}
#background_div{
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  cursor: pointer;
  z-index: 1;
  display: none;
}
.hint{
  display: none;
  position: absolute;
  top: -25px;
  left: -20px;
  background-color: gray;
  border-radius: 4px;
  font-size: 12px;
  color: white;
  padding: 5px;
}
.button_edit:hover .hint, .button_remove:hover .hint{
  display: inherit;
}
#members div, #owners div, #invited div{
  width: 100%;
  max-width: 400px;
}